@import "tailwindcss";

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

input{
@apply outline-none
}

button{
  @apply cursor-pointer disabled:opacity-20 disabled:cursor-not-allowed
}

::selection {
  background-color: #a66eda;
  /* purple-500 */
  color: white;
}

/* Global scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a855f7;
  /* Tailwind's purple-500 */
  border-radius: 9999px;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #a855f7 transparent;
}